{% extends 'templates/app.twig' %}

{% block title %}Truck Management System{% endblock %}

{% block contents %}
    <section class="content-header">
        <h1><a href="{{ base_url() }}"><b>MENA</b> Assistance</a><small>Truck Management System (TMS)</small></h1>
        <ol class="breadcrumb">
            <li><a href="{{ base_url() }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{{ path_for('OPS.Home') }}">Operations</a></li>
            <li class="active">TMS - Dashboard</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                {% for vehicle in trucks %}
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title"><a class="fa fa-truck" href="{{ path_for('TMS.TruckById', {id: vehicle.id}) }}"> {{ vehicle.nickName() }}</a> <small> (VIN: {{ vehicle.vin | e }})</small></h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <p class="text-center">
                                    <strong>Warranty Expiry (Date): {{ vehicle.warranty_expiry_date }}</strong>
                                    <br />
                                    <strong>Warranty Expiry (Mileage): {{ vehicle.warranty_expiry_mileage }}</strong>
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <!-- Sample Progress Bar-->
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-green progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                    <!-- End Sample Progress Bar -->
                                    <!-- Mileage till next Service  -->
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (success)</span>
                                        </div>
                                    </div>
                                    <!-- End Mileage till next service -->
                                    <!-- Days until next Service -->
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (success)</span>
                                        </div>
                                    </div>
                                    <!-- End Days till next service -->
                                </div>
                                <div class="col-md-4">
                                    Additional Vehicle Details Goes Here:
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <ul class="pagination">
                    <li><a href="{{ path_for('TMS.Home', { page: 1, perPage: pagination.perPage }) }}">First</a></li>
                    <li><a href="{{ path_for('TMS.Home', { page: 1, perPage: pagination.perPage }) }}">&laquo;</a></li>
                    {% for i in pagination.firstVisible..pagination.lastVisible %}
                        <li class="{% if i == pagination.page %}disabled{% endif %}">
                            <a
                                    href="{{ path_for(
                                    'TMS.Home',
                                    {
                                        page: i,
                                        perPage: pagination.perPage
                                    }) }}"
                                    class="{% if i == pagination.page %}active{% endif %}"
                            >{{ i | e }}
                            </a>
                        </li>
                    {% endfor %}
                    <li><a href="{{ path_for('TMS.Home', { page: pagination.totalPages, perPage: pagination.perPage }) }}">&raquo;</a></li>
                    <li><a href="{{ path_for('TMS.Home', { page: pagination.totalPages, perPage: pagination.perPage }) }}">Last</a></li>
                </ul>

            </div>
        </div>
{% endblock %}
