<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ base_url() }}{{ auth.userMaster.prof_pic }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ auth.userMaster.first_name }} {{ auth.userMaster.last_name }}</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">MENA Assistance</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="treeview">
                <a href="{{ path_for('PRO.Home') }}">
                    <i class="fa fa-diamond"></i>
                    <span>Projects</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="treeview">
                        <a href="{{ path_for('PRO.AllProjects') }}">
                            <i class="fa fa-diamond"></i>
                            &nbsp;<span>All Projects</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- END of Projects Tab-->
            <li>
                <a href="{{ path_for('HR.Home')}}">
                    <i class="fa fa-book"></i>
                    &nbsp;<span>Human Resources</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="treeview">
                        <a href="{{ path_for('HR.AllApplicants') }}">
                            <i class="fa fa-graduation-cap"></i>
                            &nbsp;<span>Applicants</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path_for('HR.NewApplicant') }}">New Applicant</a></li>
                            <li><a href="{{ path_for('HR.AllApplicants') }}">List Applicants</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="{{ path_for('HR.AllEmployees') }}">
                            <i class="fa fa-black-tie"></i>
                            &nbsp;<span>Employees</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="{{ path_for('HR.AllUsers') }}">
                            <i class="fa fa-users"></i>
                            &nbsp;<span>Users</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="{{ path_for('HR.AllDepartments') }}">
                            <i class="fa fa-cubes"></i>
                            &nbsp;<span>Departments</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"></a>New Department</li>
                            <li><a href="#"></a>All Departments</li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="{{ path_for('HR.AllInterviews') }}">
                            <i class="fa fa-calendar-check-o"></i>
                            &nbsp;<span>Interviews</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="{{ path_for('HR.Miscellaneous') }}">
                            <i class="fa fa-random"></i>
                            &nbsp;<span>Miscellaneous</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-link>"></i><span>A</span></a></li>
                            <li>B</li>
                        </ul>
                    </li>

                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i>
                    <span>Another Link</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="{{ path_for('OPS.Home') }}">
                    <i class="fa fa-dashboard"></i>
                    &nbsp;<span>Operations</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#">
                            <i class="fa fa-forumbee"></i>
                            &nbsp;<span>Operations 1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-forumbee"></i>
                            &nbsp;<span>Operations 2</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-truck"></i>
                    &nbsp;<span>TMS</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="{{ path_for('TMS.Home', {page:1, perPage:5}) }}">
                            <i class="fa fa-dashboard"></i>
                            &nbsp;<span>Main Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cogs"></i>
                            <span>Services</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path_for('TMS.AllServices') }}">All Services</a></li>
                            <li><a href="{{ path_for('TMS.NewService') }}">New Service</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-money"></i>
                            <span>Expenses</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path_for('TMS.AllExpenses') }}">All Expenses</a></li>
                            <li><a href="{{ path_for('TMS.NewExpense') }}">New Expense</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-truck"></i>
                            <span>Trucks</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path_for('TMS.AllTrucks') }}">All Trucks</a></li>
                            <li><a href="{{ path_for('TMS.NewTruck') }}">New Truck</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
