{% extends 'templates/app.twig' %}
{% block title %}New Applicant{% endblock %}


{% block contents %}
<section class="content-header">
    <h1>
        New Applicant
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ base_url() }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ path_for('HR.Home') }}">HR</a></li>
        <li class="active">New Applicant</li>
    </ol>
</section>
<section class="content">
    <div class="box-header has-border">
        <h3 class="box-title">New Applicant Entry</h3>
    </div>
    <div class="box-body">
        <form action="{{ path_for('HR.NewApplicant') }}" method="post" autocomplete="on" enctype="multipart/form-data" >
                    {{ csrf.field | raw }}
                    <fieldset>

                        <div class="form-group has-feedback{{ errors.first_name ? ' has-error' : '' }}">
                            <label for="first_name">First Name: &nbsp;</label><span class="text-red"><b>*</b></span>
                            <input type="text" name="first_name" id="first_name" class="form-control" value="{{ old.first_name }}" placeholder="Applicant's First Name" />
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            {% if errors.first_name %}
                                <span class="help-block">{{ errors.first_name | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group has-feedback{{ errors.last_name ? ' has-error' : '' }}">
                            <label class="required" for="last_name">Last Name: &nbsp;</label><span class="text-red"><b>*</b></span>
                            <input type="text" name="last_name" id="last_name" class="form-control" value="{{ old.last_name }}" placeholder="Applicant's Last Name"/>
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            {% if errors.last_name %}
                                <span class="help-block">{{ errors.last_name | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group has-feedback{{ errors.per_email ? ' has-error' : '' }}">
                            <label for="per_email">Personal Email: &nbsp;</label><span class="text-red"><b>*</b></span>
                            <input type="email" name="per_email" id="per_email" placeholder="applicant@domain.com" class="form-control" value="{{ old.per_email }}"/>
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            {% if errors.per_email %}
                                <span class="help-block">{{ errors.per_email | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group has-feedback{{ errors.mobile_phone ? ' has-error' : '' }}">
                            <label for="mobile_phone">Mobile Phone Number: &nbsp;</label><span class="text-red"><b>*</b></span>
                            <input type="tel" name="mobile_phone" id="mobile_phone" placeholder="+971 50 000 0000" class="form-control" value="{{ old.mobile_phone }}"/>
                            <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                            {% if errors.mobile_phone %}
                                <span class="help-block">{{ errors.mobile_phone | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group has-feedback{{ errors.gender ? ' has-error' : '' }}">
                            <label for="male">Gender: &nbsp;</label><span class="text-red"><b>*</b></span> &nbsp;
                            <input type="radio" name="gender" id="male" value="M" {% if old.gender == 'M' %}checked="checked"{% endif %}/>
                            <span class="fa fa-male"> Male &nbsp; &nbsp;</span>
                            <input type="radio" name="gender" id="female" value="F" {% if old.gender == 'F' %}checked="checked"{% endif %}/>
                            <span class="fa fa-female"> Female</span>
                            {% if errors.gender %}
                                <span class="help-block">{{ errors.gender | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group has-feedback{{ errors.nationality ? ' has-error' : '' }}">
                            <label for="nationality">Nationality: &nbsp;</label><span class="text-red"><b>*</b></span>
                            <select class="form-control" name="nationality" id="nationality">
                                <option value="">Please Select ... </option>
                                {% for country in HR.countries %}
                                    <option value="{{ country.id }}" {% if country.id == old.nationality %}selected{% endif %}>{{ country.country_name | e }}</option>
                                {% endfor %}
                            </select>
                            {% if errors.nationality %}
                                <span class="help-block">{{ errors.nationality | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group has-feedback{{ errors.dob ? ' has-error' : '' }}">
                                <label for="dob">Date of Birth: &nbsp;</label><span class="text-red"><b>*</b></span>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="date" class="form-control pull-right date-picker" name="dob" id="dob" value="{{ old.dob ?: '1984-09-03' }}">
                                </div>
                                {% if errors.dob %}
                                    <span class="help-block">{{ errors.dob | first }}</span>
                                {% endif %}
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group has-feedback{{ errors.languageCount ? ' has-error' : '' }}">
                            <label class="required">Languages: &nbsp;</label><span class="text-red"><b>*</b></span><br/>
                            {% for language in HR.languages %}
                                <label class="checkbox-inline">
                                    <input
                                            type="checkbox"
                                            id="{{ language.id }}"
                                            name="language_[]"
                                            value="{{ language.id }}"
                                            onchange="languageCounter(this)"
                                    />&nbsp;{{ language.language_name | e }} &nbsp; &nbsp;
                                </label> &nbsp; &nbsp;
                            {% endfor %}
                            <input type="hidden" name="languageCount" id="languageCount" value="0" />
                            {% if errors.languageCount %}
                                <span class="help-block">{{ errors.languageCount | first }} language.</span>
                            {% endif %}
                        </div>
                        <div class="form-group has-feedback{{ errors.expectation ? ' has-error' : '' }}">
                            <label for="expectation">Expected Salary: <span class="help-block inline"><small><i>Expected Salary Amount (inclusive of benefits) in U.A.E. Dirhams</i></small></span></label>
                            <div class="input-group has-feedback">
                                <span class="input-group-addon">AED</span>
                                <input type="number" name="expectation" id="expectation" class="form-control" value="{{ old.expectation }}" placeholder="Enter expected amount in UAE Dirhams">
                                <span class="input-group-addon">.00</span>
                            </div>
    <!--                            <span class="glyphicon glyphicon-usd form-control-feedback"></span>-->
                            {% if errors.expectation %}
                                <span class="help-block">{{ errors.expectation | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group has-feedback{{ errors.visa ? ' has-error' : '' }}">
                            <label>Current Visa Status: &nbsp;</label><span class="text-red"><b>*</b></span>
                            <br/>

                            <label class="radio-inline">
                                <input
                                    type="radio"
                                    name="visa"
                                    id="employee_residence"
                                    value="Employee Residence" {% if old.visa == 'Employee Residence' %}checked="checked"{% endif %}
                                />Employee Residency &nbsp;
                            </label>
                            <label class="radio-inline">
                                <input
                                    type="radio"
                                    name="visa"
                                    id="family_residence"
                                    value="Family Residence" {% if old.visa == 'Family Residence' %}checked="checked"{% endif %}
                                />Family Residency &nbsp;
                            </label>

                            <label class="radio-inline">
                                <input
                                    type="radio"
                                    name="visa"
                                    id="visit"
                                    value="Visit" {% if old.visa == 'Visit' %}checked="checked"{% endif %}
                                />Visit Visa &nbsp;
                            </label>
                            <label class="radio-inline">
                                <input
                                    type="radio"
                                    name="visa"
                                    id="tourist"
                                    value="Tourist" {% if old.visa == 'Tourist' %}checked="checked"{% endif %}
                                />Tourist Visa &nbsp;
                            </label>
                            <label class="radio-inline">
                                <input
                                    type="radio"
                                    name="visa"
                                    id="expired"
                                    value="Expired" {% if old.visa == 'Expired' %}checked="checked"{% endif %}
                                />Expired Visa &nbsp;
                            </label>
                            <label class="radio-inline">
                                <input
                                    type="radio"
                                    name="visa"
                                    id="cencelled"
                                    value="cencelled" {% if old.visa == 'cancelled' %}checked="checked"{% endif %}
                                />Cancelled Visa &nbsp;
                            </label>
                            {#<label for="investor_residence">Investor Residency</label><input type="radio" class="radio-inline" name="visa" id="investor_residence" value="Investor Residence" {% if old.visa == 'Investor Residence' %}checked="checked"{% endif %} /> &nbsp; &nbsp;<label for="maid_residence">Maid Residency</label><input type="radio" class="radio-inline" name="visa" id="maid_residence" value="Maid Residence" {% if old.visa == 'Maid Residence' %}checked="checked"{% endif %} /> &nbsp; &nbsp;<label for="relative_residence">Investor Residency</label><input type="radio" class="radio-inline" name="visa" id="relative_residence" value="Relative Residence" {% if old.visa == 'Relative Residence' %}checked="checked"{% endif %} /> &nbsp; &nbsp;<label for="student_residence">Investor Residence</label><input type="radio" class="radio-inline" name="visa" id="student_residence" value="Student Residence" {% if old.visa == 'Student Residence' %}checked="checked"{% endif %} /> &nbsp; &nbsp;<label for="mission">Mission Visa</label><input type="radio" class="radio-inline" name="visa" id="mission" value="Mission" {% if old.visa == 'Mission' %}checked="checked"{% endif %} /> &nbsp; &nbsp;<label for="multiple_entry">Multiple Entry Visa</label><input type="radio" class="radio-inline" name="visa" id="multiple_entry" value="Multiple Entry" {% if old.visa == 'Multiple Entry' %}checked="checked"{% endif %} /> &nbsp; &nbsp;#}

                            {% if errors.visa %}
                                <span class="help-block">{{ errors.visa | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group has-feedback{{ errors.visa_age ? ' has-error' : '' }}">
                            <label for="visa_age">Visa Age: &nbsp;
                                <span class="text-red"><b>*</b></span> &nbsp;
                                <span class="help-block inline">
                                    <small>
                                        <i>Time since the first issuance of visa from current sponsor</i>
                                    </small>
                                </span>
                            </label>
                            <input type="text" class="form-control" name="visa_age" id="visa_age" placeholder="Two years ..." value="{{ old.visa_age ? old.visa_age : '' }}" />&nbsp;
                            {% if errors.visa_age %}
                                <span class="help-block">{{ errors.visa_age | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group has-feedback{{ errors.notice ? ' has-error' : '' }}">
                                <label for="notice">Required Notice Period: &nbsp;
                                    <span class="text-red"><b>*</b></span>
                                </label>
                                <input type="text" class="form-control" name="notice" id="notice" value="{{ old.notice ? old.notice : '' }}" placeholder="One month ..." />&nbsp;
                                {% if errors.notice %}
                                    <span class="help-block">{{ errors.notice | first }}</span>
                                {% endif %}
                            </div>
                        <div class="form-group has-feedback{{ errors.source ? ' has-error' : '' }}">
                            <label for="source">Application Source:  &nbsp;
                                <span class="text-red"><b>*</b></span> &nbsp;
                                <span class="help-block inline">
                                    <small>
                                        <i>How did the applicant hear about us</i>
                                    </small>
                                </span>
                            </label>

                            <select class="form-control" name="source" id="source">
                                <option value="" {% if old.source == '' %}selected{% endif %}>Please Select ...</option>
                                <option value="HR Agency" {% if old.source == 'HR Agency' %}selected{% endif %}>HR Agency</option>
                                <option value="Search Engine" {% if old.source == 'Search Engine' %}selected{% endif %}>Search Engine</option>
                                <option value="Friend or Colleague" {% if old.source == 'Friend' %}selected{% endif %}>Friend</option>
                                <option value="Other" {% if old.source == 'Other' %}selected{% endif %}>Other</option>
                                <option value="No Answer" {% if old.source == 'No Answer' %}selected{% endif %}>No Answer</option>
                            </select>
                            {% if errors.source %}
                                <span class="help-block">{{ errors.source | first }}</span>
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group has-feedback{{ errors.profilepic ? ' has-error' : '' }}">
                        <label class="control-label" for="profilePic">Photo: &nbsp;
                            <span class="help-block inline">
                                <small>
                                    <i>File must be *.jpg, *.jpeg, *.png, *.gif, or *.bmb and &lt; 3MBs</i>
                                </small>
                            </span>
                        </label>
                        <input type="file" id="profilePic" name="profilepic" value="{{ old.profilepic }}" class="file">

<!--                        <img id="profilePicApplicantFRM" src="{{ base_url() }}/img/applicants/defaultMale.png" height="40" class="profile-image img-circle">-->
                        {% if errors.profilepic %}
                            <span class="help-block">{{ errors.profilepic | first }}</span>
                        {% endif %}
                    </div>
                    <div id="newAttachment" class="form-group">
                        <label for="help-me">Attachments:</label>
                        <p class="help-block" id="help-me"><span><i>Attach CV, Passport Copy, VISA Copy, Educational Degree, or any other related documents<br/><mark>Remember to rename the files respectively</mark></i></span></p>
                        <input type="hidden" id="attachmentCounter" name="attachmentCounter" value="-1">
                        <input type="button" id="add" class="btn btn-xs" onclick="showInput('divattachmentGroup', 'attachmentCounter')" value="Add New" title="Add new attachment field"/>
                        <input type="button" id="remove" class="btn btn-xs btn-danger" onclick="hideInput('divattachmentGroup', 'attachmentCounter')" value="Remove" title="Removes the last item" />
                        <br/>
                        <div class="form-group bg-gray-light hidden has-feedback{{ errors.attachmentCountry0 ? ' has-error' : '' }}{{ errors.attachmentType0 ? ' has-error' : '' }}{{ errors.attachmentIssuer0 ? ' has-error' : '' }}{{ errors.attachmentIssueDate0 ? ' has-error' : '' }}{{ errors.attachmentExpiryDate0 ? ' has-error' : '' }}" id="divattachmentGroup0">
                            <div class="input-group inline has-feedback" id="div2attachment0">
                                <label for="attachment0">File: &nbsp;</label>
                                <input type="file" id="attachment0" name="attachment[]" class="btn btn-default btn-file"> &nbsp;
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentCountry0 ? ' has-error' : '' }}" id="attachmentCountry0">
                                <label for="attachmentCountry0">Issuance Country: &nbsp;</label>
                                <select name="attachmentCountry0" id="attachmentCountry0">
                                    <option value="">Please Select ... </option>
                                    {% for country in HR.countries %}
                                        <option value="{{ country.id }}" {% if country.id == old.attachmentCountry0 %}selected{% endif %}>{{ country.country_name | e }}</option>
                                    {% endfor %}
                                </select>
                                {% if errors.attachmentCountry0 %}
                                    <span class="help-block">{{ errors.attachmentCountry0 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentType0 ? ' has-error' : '' }}" id="attachmentType0">
                                <label for="attachmentType0">Type: &nbsp;</label>
                                <input id="attachmentType0" name="attachmentType0" type="text" value="{{ old.attachmentType0 }}">
                                {% if errors.attachmentType0 %}
                                    <span class="help-block">{{ errors.attachmentType0 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssuer0 ? ' has-error' : '' }}" id="attachmentIssuer0">
                                <label for="attachmentIssuer0">Issued By: &nbsp;</label>
                                <input type="text" id="attachmentIssuer0" name="attachmentIssuer0" value="{{ old.attachmentIssuer0 }}"> &nbsp;
                                {% if errors.attachmentIssuer0 %}
                                    <span class="help-block">{{ errors.attachmentIssuer0 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssueDate0 ? ' has-error' : '' }}" id="attachmentIssueDate0">
                                <label for="attachmentIssueDate0">Issue Date: &nbsp;</label>
                                <input type="date" id="attachmentIssueDate0" name="attachmentIssueDate0" value="{{ old.attachmentIssueDate0 ? old.attachmentIssueDate0 : '1999-12-31' }}"> &nbsp;
                                {% if errors.attachmentIssueDate0 %}
                                    <span class="help-block">{{ errors.attachmentIssueDate0 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentExpiryDate0 ? ' has-error' : '' }}" id="attachmentExpiryDate0">
                                <label for="attachmentExpiryDate0">Expiry Date: &nbsp;</label>
                                <input type="date" id="attachmentExpiryDate0" name="attachmentExpiryDate0" value="{{ old.attachmentExpiryDate0 ? old.attachmentExpiryDate0 : '2099-12-31' }}"> &nbsp;
                                {% if errors.attachmentExpiryDate0 %}
                                    <span class="help-block">{{ errors.attachmentExpiryDate0 | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group hidden has-feedback{{ errors.attachmentCountry1 ? ' has-error' : '' }}{{ errors.attachmentType1 ? ' has-error' : '' }}{{ errors.attachmentIssuer1 ? ' has-error' : '' }}{{ errors.attachmentIssueDate1 ? ' has-error' : '' }}{{ errors.attachmentExpiryDate1 ? ' has-error' : '' }}" id="divattachmentGroup1">
                            <div class="input-group inline has-feedback" id="div2attachment1">
                                <label for="attachment1">File: &nbsp;</label>
                                <input type="file" id="attachment1" name="attachment[]" class="btn btn-default btn-file"> &nbsp;
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentCountry1 ? ' has-error' : '' }}" id="attachmentCountry1">
                                <label for="attachmentCountry1">Issuance Country: &nbsp;</label>
                                <select name="attachmentCountry1" id="attachmentCountry1">
                                    <option value="">Please Select ... </option>
                                    {% for country in HR.countries %}
                                        <option value="{{ country.id }}" {% if country.id == old.attachmentCountry1 %}selected{% endif %}>{{ country.country_name | e }}</option>
                                    {% endfor %}
                                </select>
                                {% if errors.attachmentCountry1 %}
                                    <span class="help-block">{{ errors.attachmentCountry1 | first }}</span>
                                {% endif %}
                            </div>
                            <br/>
                            <div class="input-group inline has-feedback{{ errors.attachmentType1 ? ' has-error' : '' }}" id="attachmentType1">
                                <label for="attachmentType1">Type: &nbsp;</label>
                                <input id="attachmentType1" name="attachmentType1" type="text" value="{{ old.attachmentType1 }}">
                                {% if errors.attachmentType1 %}
                                    <span class="help-block">{{ errors.attachmentType1 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssuer1 ? ' has-error' : '' }}" id="attachmentIssuer1">
                                <label for="attachmentIssuer1">Issued By: &nbsp;</label>
                                <input type="text" id="attachmentIssuer1" name="attachmentIssuer1" value="{{ old.attachmentIssuer1 }}"> &nbsp;
                                {% if errors.attachmentIssuer1 %}
                                    <span class="help-block">{{ errors.attachmentIssuer1 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssueDate1 ? ' has-error' : '' }}" id="attachmentIssueDate1">
                                <label for="attachmentIssueDate1">Issue Date: &nbsp;</label>
                                <input type="date" id="attachmentIssueDate1" name="attachmentIssueDate1" value="{{ old.attachmentIssueDate1 ? old.attachmentIssueDate1 : '1999-12-31' }}"> &nbsp;
                                {% if errors.attachmentIssueDate1 %}
                                    <span class="help-block">{{ errors.attachmentIssueDate1 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentExpiryDate1 ? ' has-error' : '' }}" id="attachmentExpiryDate1">
                                <label for="attachmentExpiryDate1">Expiry Date: &nbsp;</label>
                                <input type="date" id="attachmentExpiryDate1" name="attachmentExpiryDate1" value="{{ old.attachmentExpiryDate1 ? old.attachmentExpiryDate1 : '2099-12-31' }}"> &nbsp;
                                {% if errors.attachmentExpiryDate1 %}
                                    <span class="help-block">{{ errors.attachmentExpiryDate1 | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group bg-gray-light hidden has-feedback{{ errors.attachmentCountry2 ? ' has-error' : '' }}{{ errors.attachmentType2 ? ' has-error' : '' }}{{ errors.attachmentIssuer2 ? ' has-error' : '' }}{{ errors.attachmentIssueDate2 ? ' has-error' : '' }}{{ errors.attachmentExpiryDate2 ? ' has-error' : '' }}" id="divattachmentGroup2">
                            <div class="input-group inline has-feedback" id="div2attachment2">
                                <label for="attachment2">File: &nbsp;</label>
                                <input type="file" id="attachment2" name="attachment[]" class="btn btn-default btn-file"> &nbsp;
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentCountry2 ? ' has-error' : '' }}" id="attachmentCountry2">
                                <label for="attachmentCountry2">Issuance Country: &nbsp;</label>
                                <select name="attachmentCountry2" id="attachmentCountry2">
                                    <option value="">Please Select ... </option>
                                    {% for country in HR.countries %}
                                        <option value="{{ country.id }}" {% if country.id == old.attachmentCountry2 %}selected{% endif %}>{{ country.country_name | e }}</option>
                                    {% endfor %}
                                </select>
                                {% if errors.attachmentCountry2 %}
                                    <span class="help-block">{{ errors.attachmentCountry2 | first }}</span>
                                {% endif %}
                            </div>
                            <br/>
                            <div class="input-group inline has-feedback{{ errors.attachmentType2 ? ' has-error' : '' }}" id="attachmentType2">
                                <label for="attachmentType2">Type: &nbsp;</label>
                                <input id="attachmentType2" name="attachmentType2" type="text" value="{{ old.attachmentType2 }}">
                                {% if errors.attachmentType2 %}
                                    <span class="help-block">{{ errors.attachmentType2 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssuer2 ? ' has-error' : '' }}" id="attachmentIssuer2">
                                <label for="attachmentIssuer2">Issued By: &nbsp;</label>
                                <input type="text" id="attachmentIssuer2" name="attachmentIssuer2" value="{{ old.attachmentIssuer2 }}"> &nbsp;
                                {% if errors.attachmentIssuer2 %}
                                    <span class="help-block">{{ errors.attachmentIssuer2 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssueDate2 ? ' has-error' : '' }}" id="attachmentIssueDate2">
                                <label for="attachmentIssueDate2">Issue Date: &nbsp;</label>
                                <input type="date" id="attachmentIssueDate2" name="attachmentIssueDate2" value="{{ old.attachmentIssueDate2 ? old.attachmentIssueDate2 : '1999-12-31' }}"> &nbsp;
                                {% if errors.attachmentIssueDate2 %}
                                    <span class="help-block">{{ errors.attachmentIssueDate2 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentExpiryDate2 ? ' has-error' : '' }}" id="attachmentExpiryDate2">
                                <label for="attachmentExpiryDate2">Expiry Date: &nbsp;</label>
                                <input type="date" id="attachmentExpiryDate2" name="attachmentExpiryDate2" value="{{ old.attachmentExpiryDate2 ? old.attachmentExpiryDate2 : '2099-12-31' }}"> &nbsp;
                                {% if errors.attachmentExpiryDate2 %}
                                    <span class="help-block">{{ errors.attachmentExpiryDate2 | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group hidden has-feedback{{ errors.attachmentCountry3 ? ' has-error' : '' }}{{ errors.attachmentType3 ? ' has-error' : '' }}{{ errors.attachmentIssuer3 ? ' has-error' : '' }}{{ errors.attachmentIssueDate3 ? ' has-error' : '' }}{{ errors.attachmentExpiryDate3 ? ' has-error' : '' }}" id="divattachmentGroup3">
                            <div class="input-group inline has-feedback" id="div2attachment3">
                                <label for="attachment3">File: &nbsp;</label>
                                <input type="file" id="attachment3" name="attachment[]" class="btn btn-default btn-file"> &nbsp;
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentCountry3 ? ' has-error' : '' }}" id="attachmentCountry3">
                                <label for="attachmentCountry3">Issuance Country: &nbsp;</label>
                                <select name="attachmentCountry3" id="attachmentCountry3">
                                    <option value="">Please Select ... </option>
                                    {% for country in HR.countries %}
                                        <option value="{{ country.id }}" {% if country.id == old.attachmentCountry3 %}selected{% endif %}>{{ country.country_name | e }}</option>
                                    {% endfor %}
                                </select>
                                {% if errors.attachmentCountry3 %}
                                    <span class="help-block">{{ errors.attachmentCountry3 | first }}</span>
                                {% endif %}
                            </div>
                            <br/>
                            <div class="input-group inline has-feedback{{ errors.attachmentType3 ? ' has-error' : '' }}" id="attachmentType3">
                                <label for="attachmentType3">Type: &nbsp;</label>
                                <input id="attachmentType3" name="attachmentType3" type="text" value="{{ old.attachmentType3 }}">
                                {% if errors.attachmentType3 %}
                                    <span class="help-block">{{ errors.attachmentType3 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssuer3 ? ' has-error' : '' }}" id="attachmentIssuer3">
                                <label for="attachmentIssuer3">Issued By: &nbsp;</label>
                                <input type="text" id="attachmentIssuer3" name="attachmentIssuer3" value="{{ old.attachmentIssuer3 }}"> &nbsp;
                                {% if errors.attachmentIssuer3 %}
                                    <span class="help-block">{{ errors.attachmentIssuer3 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssueDate3 ? ' has-error' : '' }}" id="attachmentIssueDate3">
                                <label for="attachmentIssueDate3">Issue Date: &nbsp;</label>
                                <input type="date" id="attachmentIssueDate3" name="attachmentIssueDate3" value="{{ old.attachmentIssueDate3 ? old.attachmentIssueDate3 : '1999-12-31' }}"> &nbsp;
                                {% if errors.attachmentIssueDate3 %}
                                    <span class="help-block">{{ errors.attachmentIssueDate3 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentExpiryDate3 ? ' has-error' : '' }}" id="attachmentExpiryDate3">
                                <label for="attachmentExpiryDate3">Expiry Date: &nbsp;</label>
                                <input type="date" id="attachmentExpiryDate3" name="attachmentExpiryDate3" value="{{ old.attachmentExpiryDate3 ? old.attachmentExpiryDate3 : '2099-12-31' }}"> &nbsp;
                                {% if errors.attachmentExpiryDate3 %}
                                    <span class="help-block">{{ errors.attachmentExpiryDate3 | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group bg-gray-light hidden has-feedback{{ errors.attachmentCountry4 ? ' has-error' : '' }}{{ errors.attachmentType4 ? ' has-error' : '' }}{{ errors.attachmentIssuer4 ? ' has-error' : '' }}{{ errors.attachmentIssueDate4 ? ' has-error' : '' }}{{ errors.attachmentExpiryDate4 ? ' has-error' : '' }}" id="divattachmentGroup4">
                            <div class="input-group inline has-feedback" id="div2attachment4">
                                <label for="attachment4">File: &nbsp;</label>
                                <input type="file" id="attachment4" name="attachment[]" class="btn btn-default btn-file"> &nbsp;
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentCountry4 ? ' has-error' : '' }}" id="attachmentCountry4">
                                <label for="attachmentCountry4">Issuance Country: &nbsp;</label>
                                <select name="attachmentCountry4" id="attachmentCountry4">
                                    <option value="">Please Select ... </option>
                                    {% for country in HR.countries %}
                                        <option value="{{ country.id }}" {% if country.id == old.attachmentCountry4 %}selected{% endif %}>{{ country.country_name | e }}</option>
                                    {% endfor %}
                                </select>
                                {% if errors.attachmentCountry4 %}
                                    <span class="help-block">{{ errors.attachmentCountry4 | first }}</span>
                                {% endif %}
                            </div>
                            <br/>
                            <div class="input-group inline has-feedback{{ errors.attachmentType4 ? ' has-error' : '' }}" id="attachmentType4">
                                <label for="attachmentType4">Type: &nbsp;</label>
                                <input id="attachmentType4" name="attachmentType4" type="text" value="{{ old.attachmentType4 }}">
                                {% if errors.attachmentType4 %}
                                    <span class="help-block">{{ errors.attachmentType4 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssuer4 ? ' has-error' : '' }}" id="attachmentIssuer4">
                                <label for="attachmentIssuer4">Issued By: &nbsp;</label>
                                <input type="text" id="attachmentIssuer4" name="attachmentIssuer4" value="{{ old.attachmentIssuer4 }}"> &nbsp;
                                {% if errors.attachmentIssuer4 %}
                                    <span class="help-block">{{ errors.attachmentIssuer4 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssueDate4 ? ' has-error' : '' }}" id="attachmentIssueDate4">
                                <label for="attachmentIssueDate4">Issue Date: &nbsp;</label>
                                <input type="date" id="attachmentIssueDate4" name="attachmentIssueDate4" value="{{ old.attachmentIssueDate4 ? old.attachmentIssueDate4 : '1999-12-31' }}"> &nbsp;
                                {% if errors.attachmentIssueDate4 %}
                                    <span class="help-block">{{ errors.attachmentIssueDate4 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentExpiryDate4 ? ' has-error' : '' }}" id="attachmentExpiryDate4">
                                <label for="attachmentExpiryDate4">Expiry Date: &nbsp;</label>
                                <input type="date" id="attachmentExpiryDate4" name="attachmentExpiryDate4" value="{{ old.attachmentExpiryDate4 ? old.attachmentExpiryDate4 : '2099-12-31' }}"> &nbsp;
                                {% if errors.attachmentExpiryDate4 %}
                                    <span class="help-block">{{ errors.attachmentExpiryDate4 | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group hidden  has-feedback{{ errors.attachmentCountry5 ? ' has-error' : '' }}{{ errors.attachmentType5 ? ' has-error' : '' }}{{ errors.attachmentIssuer5 ? ' has-error' : '' }}{{ errors.attachmentIssueDate5 ? ' has-error' : '' }}{{ errors.attachmentExpiryDate5 ? ' has-error' : '' }}" id="divattachmentGroup5">
                            <div class="input-group inline has-feedback" id="div2attachment5">
                                <label for="attachment5">File: &nbsp;</label>
                                <input type="file" id="attachment5" name="attachment[]" class="btn btn-default btn-file"> &nbsp;
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentCountry5 ? ' has-error' : '' }}" id="attachmentCountry5">
                                <label for="attachmentCountry5">Issuance Country: &nbsp;</label>
                                <select name="attachmentCountry5" id="attachmentCountry5">
                                    <option value="">Please Select ... </option>
                                    {% for country in HR.countries %}
                                        <option value="{{ country.id }}" {% if country.id == old.attachmentCountry5 %}selected{% endif %}>{{ country.country_name | e }}</option>
                                    {% endfor %}
                                </select>
                                {% if errors.attachmentCountry5 %}
                                    <span class="help-block">{{ errors.attachmentCountry5 | first }}</span>
                                {% endif %}
                            </div>
                            <br/>
                            <div class="input-group inline has-feedback{{ errors.attachmentType5 ? ' has-error' : '' }}" id="attachmentType5">
                                <label for="attachmentType5">Type: &nbsp;</label>
                                <input id="attachmentType5" name="attachmentType5" type="text" value="{{ old.attachmentType5 }}">
                                {% if errors.attachmentType5 %}
                                    <span class="help-block">{{ errors.attachmentType5 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssuer5 ? ' has-error' : '' }}" id="attachmentIssuer5">
                                <label for="attachmentIssuer5">Issued By: &nbsp;</label>
                                <input type="text" id="attachmentIssuer5" name="attachmentIssuer5" value="{{ old.attachmentIssuer5 }}"> &nbsp;
                                {% if errors.attachmentIssuer5 %}
                                    <span class="help-block">{{ errors.attachmentIssuer5 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssueDate5 ? ' has-error' : '' }}" id="attachmentIssueDate5">
                                <label for="attachmentIssueDate5">Issue Date: &nbsp;</label>
                                <input type="date" id="attachmentIssueDate5" name="attachmentIssueDate5" value="{{ old.attachmentIssueDate5 ? old.attachmentIssueDate5 : '1999-12-31' }}"> &nbsp;
                                {% if errors.attachmentIssueDate5 %}
                                    <span class="help-block">{{ errors.attachmentIssueDate5 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentExpiryDate5 ? ' has-error' : '' }}" id="attachmentExpiryDate5">
                                <label for="attachmentExpiryDate5">Expiry Date: &nbsp;</label>
                                <input type="date" id="attachmentExpiryDate5" name="attachmentExpiryDate5" value="{{ old.attachmentExpiryDate5 ? old.attachmentExpiryDate5 : '2099-12-31' }}"> &nbsp;
                                {% if errors.attachmentExpiryDate5 %}
                                    <span class="help-block">{{ errors.attachmentExpiryDate5 | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group bg-gray-light hidden has-feedback{{ errors.attachmentCountry6 ? ' has-error' : '' }}{{ errors.attachmentType6 ? ' has-error' : '' }}{{ errors.attachmentIssuer6 ? ' has-error' : '' }}{{ errors.attachmentIssueDate6 ? ' has-error' : '' }}{{ errors.attachmentExpiryDate6 ? ' has-error' : '' }}" id="divattachmentGroup6">
                            <div class="input-group inline has-feedback" id="div2attachment6">
                                <label for="attachment6">File: &nbsp;</label>
                                <input type="file" id="attachment6" name="attachment[]" class="btn btn-default btn-file"> &nbsp;
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentCountry6 ? ' has-error' : '' }}" id="attachmentCountry6">
                                <label for="attachmentCountry6">Issuance Country: &nbsp;</label>
                                <select name="attachmentCountry6" id="attachmentCountry6">
                                    <option value="">Please Select ... </option>
                                    {% for country in HR.countries %}
                                        <option value="{{ country.id }}" {% if country.id == old.attachmentCountry6 %}selected{% endif %}>{{ country.country_name | e }}</option>
                                    {% endfor %}
                                </select>
                                {% if errors.attachmentCountry6 %}
                                    <span class="help-block">{{ errors.attachmentCountry6 | first }}</span>
                                {% endif %}
                            </div>
                            <br/>
                            <div class="input-group inline has-feedback{{ errors.attachmentType6 ? ' has-error' : '' }}" id="attachmentType6">
                                <label for="attachmentType6">Type: &nbsp;</label>
                                <input id="attachmentType6" name="attachmentType6" type="text" value="{{ old.attachmentType6 }}">
                                {% if errors.attachmentType6 %}
                                    <span class="help-block">{{ errors.attachmentType6 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssuer6 ? ' has-error' : '' }}" id="attachmentIssuer6">
                                <label for="attachmentIssuer6">Issued By: &nbsp;</label>
                                <input type="text" id="attachmentIssuer6" name="attachmentIssuer6" value="{{ old.attachmentIssuer6 }}"> &nbsp;
                                {% if errors.attachmentIssuer6 %}
                                    <span class="help-block">{{ errors.attachmentIssuer6 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssueDate6 ? ' has-error' : '' }}" id="attachmentIssueDate6">
                                <label for="attachmentIssueDate6">Issue Date: &nbsp;</label>
                                <input type="date" id="attachmentIssueDate6" name="attachmentIssueDate6" value="{{ old.attachmentIssueDate6 ? old.attachmentIssueDate6 : '1999-12-31' }}"> &nbsp;
                                {% if errors.attachmentIssueDate6 %}
                                    <span class="help-block">{{ errors.attachmentIssueDate6 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentExpiryDate6 ? ' has-error' : '' }}" id="attachmentExpiryDate6">
                                <label for="attachmentExpiryDate6">Expiry Date: &nbsp;</label>
                                <input type="date" id="attachmentExpiryDate6" name="attachmentExpiryDate6" value="{{ old.attachmentExpiryDate6 ? old.attachmentExpiryDate6 : '2099-12-31' }}"> &nbsp;
                                {% if errors.attachmentExpiryDate6 %}
                                    <span class="help-block">{{ errors.attachmentExpiryDate6 | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group hidden has-feedback{{ errors.attachmentCountry7 ? ' has-error' : '' }}{{ errors.attachmentType7 ? ' has-error' : '' }}{{ errors.attachmentIssuer7 ? ' has-error' : '' }}{{ errors.attachmentIssueDate7 ? ' has-error' : '' }}{{ errors.attachmentExpiryDate7 ? ' has-error' : '' }}" id="divattachmentGroup7">
                            <div class="input-group inline has-feedback" id="div2attachment7">
                                <label for="attachment7">File: &nbsp;</label>
                                <input type="file" id="attachment7" name="attachment[]" class="btn btn-default btn-file"> &nbsp;
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentCountry7 ? ' has-error' : '' }}" id="attachmentCountry7">
                                <label for="attachmentCountry7">Issuance Country: &nbsp;</label>
                                <select name="attachmentCountry7" id="attachmentCountry7">
                                    <option value="">Please Select ... </option>
                                    {% for country in HR.countries %}
                                        <option value="{{ country.id }}" {% if country.id == old.attachmentCountry7 %}selected{% endif %}>{{ country.country_name | e }}</option>
                                    {% endfor %}
                                </select>
                                {% if errors.attachmentCountry7 %}
                                    <span class="help-block">{{ errors.attachmentCountry7 | first }}</span>
                                {% endif %}
                            </div>
                            <br/>
                            <div class="input-group inline has-feedback{{ errors.attachmentType7 ? ' has-error' : '' }}" id="attachmentType7">
                                <label for="attachmentType7">Type: &nbsp;</label>
                                <input id="attachmentType7" name="attachmentType7" type="text" value="{{ old.attachmentType7 }}">
                                {% if errors.attachmentType7 %}
                                    <span class="help-block">{{ errors.attachmentType7 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssuer7 ? ' has-error' : '' }}" id="attachmentIssuer7">
                                <label for="attachmentIssuer7">Issued By: &nbsp;</label>
                                <input type="text" id="attachmentIssuer7" name="attachmentIssuer7" value="{{ old.attachmentIssuer7 }}"> &nbsp;
                                {% if errors.attachmentIssuer7 %}
                                    <span class="help-block">{{ errors.attachmentIssuer7 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssueDate7 ? ' has-error' : '' }}" id="attachmentIssueDate7">
                                <label for="attachmentIssueDate7">Issue Date: &nbsp;</label>
                                <input type="date" id="attachmentIssueDate7" name="attachmentIssueDate7" value="{{ old.attachmentIssueDate7 ? old.attachmentIssueDate7 : '1999-12-31' }}"> &nbsp;
                                {% if errors.attachmentIssueDate7 %}
                                    <span class="help-block">{{ errors.attachmentIssueDate7 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentExpiryDate7 ? ' has-error' : '' }}" id="attachmentExpiryDate7">
                                <label for="attachmentExpiryDate7">Expiry Date: &nbsp;</label>
                                <input type="date" id="attachmentExpiryDate7" name="attachmentExpiryDate7" value="{{ old.attachmentExpiryDate7 ? old.attachmentExpiryDate7 : '2099-12-31' }}"> &nbsp;
                                {% if errors.attachmentExpiryDate7 %}
                                    <span class="help-block">{{ errors.attachmentExpiryDate7 | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group bg-gray-light hidden has-feedback{{ errors.attachmentCountry8 ? ' has-error' : '' }}{{ errors.attachmentType8 ? ' has-error' : '' }}{{ errors.attachmentIssuer8 ? ' has-error' : '' }}{{ errors.attachmentIssueDate8 ? ' has-error' : '' }}{{ errors.attachmentExpiryDate8 ? ' has-error' : '' }}" id="divattachmentGroup8">
                            <div class="input-group inline has-feedback" id="div2attachment8">
                                <label for="attachment8">File: &nbsp;</label>
                                <input type="file" id="attachment8" name="attachment[]" class="btn btn-default btn-file"> &nbsp;
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentCountry8 ? ' has-error' : '' }}" id="attachmentCountry8">
                                <label for="attachmentCountry8">Issuance Country: &nbsp;</label>
                                <select name="attachmentCountry8" id="attachmentCountry8">
                                    <option value="">Please Select ... </option>
                                    {% for country in HR.countries %}
                                        <option value="{{ country.id }}" {% if country.id == old.attachmentCountry8 %}selected{% endif %}>{{ country.country_name | e }}</option>
                                    {% endfor %}
                                </select>
                                {% if errors.attachmentCountry8 %}
                                    <span class="help-block">{{ errors.attachmentCountry8 | first }}</span>
                                {% endif %}
                            </div>
                            <br/>
                            <div class="input-group inline has-feedback{{ errors.attachmentType8 ? ' has-error' : '' }}" id="attachmentType8">
                                <label for="attachmentType8">Type: &nbsp;</label>
                                <input id="attachmentType8" name="attachmentType8" type="text" value="{{ old.attachmentType8 }}">
                                {% if errors.attachmentType8 %}
                                    <span class="help-block">{{ errors.attachmentType8 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssuer8 ? ' has-error' : '' }}" id="attachmentIssuer8">
                                <label for="attachmentIssuer8">Issued By: &nbsp;</label>
                                <input type="text" id="attachmentIssuer8" name="attachmentIssuer8" value="{{ old.attachmentIssuer8 }}"> &nbsp;
                                {% if errors.attachmentIssuer8 %}
                                    <span class="help-block">{{ errors.attachmentIssuer8 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssueDate8 ? ' has-error' : '' }}" id="attachmentIssueDate8">
                                <label for="attachmentIssueDate8">Issue Date: &nbsp;</label>
                                <input type="date" id="attachmentIssueDate8" name="attachmentIssueDate8" value="{{ old.attachmentIssueDate8 ? old.attachmentIssueDate8 : '1999-12-31' }}"> &nbsp;
                                {% if errors.attachmentIssueDate8 %}
                                    <span class="help-block">{{ errors.attachmentIssueDate8 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentExpiryDate8 ? ' has-error' : '' }}" id="attachmentExpiryDate8">
                                <label for="attachmentExpiryDate8">Expiry Date: &nbsp;</label>
                                <input type="date" id="attachmentExpiryDate8" name="attachmentExpiryDate8" value="{{ old.attachmentExpiryDate8 ? old.attachmentExpiryDate8 : '2099-12-31' }}"> &nbsp;
                                {% if errors.attachmentExpiryDate8 %}
                                    <span class="help-block">{{ errors.attachmentExpiryDate8 | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group hidden has-feedback{{ errors.attachmentCountry9 ? ' has-error' : '' }}{{ errors.attachmentType9 ? ' has-error' : '' }}{{ errors.attachmentIssuer9 ? ' has-error' : '' }}{{ errors.attachmentIssueDate9 ? ' has-error' : '' }}{{ errors.attachmentExpiryDate9 ? ' has-error' : '' }}" id="divattachmentGroup9">
                            <div class="input-group inline has-feedback" id="div2attachment9">
                                <label for="attachment9">File: &nbsp;</label>
                                <input type="file" id="attachment9" name="attachment[]" class="btn btn-default btn-file"> &nbsp;
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentCountry9 ? ' has-error' : '' }}" id="attachmentCountry9">
                                <label for="attachmentCountry9">Issuance Country: &nbsp;</label>
                                <select name="attachmentCountry9" id="attachmentCountry9">
                                    <option value="">Please Select ... </option>
                                    {% for country in HR.countries %}
                                        <option value="{{ country.id }}" {% if country.id == old.attachmentCountry9 %}selected{% endif %}>{{ country.country_name | e }}</option>
                                    {% endfor %}
                                </select>
                                {% if errors.attachmentCountry9 %}
                                    <span class="help-block">{{ errors.attachmentCountry9 | first }}</span>
                                {% endif %}
                            </div>
                            <br/>
                            <div class="input-group inline has-feedback{{ errors.attachmentType9 ? ' has-error' : '' }}" id="attachmentType9">
                                <label for="attachmentType9">Type: &nbsp;</label>
                                <input id="attachmentType9" name="attachmentType9" type="text" value="{{ old.attachmentType9 }}">
                                {% if errors.attachmentType9 %}
                                    <span class="help-block">{{ errors.attachmentType9 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssuer9 ? ' has-error' : '' }}" id="attachmentIssuer9">
                                <label for="attachmentIssuer9">Issued By: &nbsp;</label>
                                <input type="text" id="attachmentIssuer9" name="attachmentIssuer9" value="{{ old.attachmentIssuer9 }}"> &nbsp;
                                {% if errors.attachmentIssuer9 %}
                                    <span class="help-block">{{ errors.attachmentIssuer9 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentIssueDate9 ? ' has-error' : '' }}" id="attachmentIssueDate9">
                                <label for="attachmentIssueDate9">Issue Date: &nbsp;</label>
                                <input type="date" id="attachmentIssueDate9" name="attachmentIssueDate9" value="{{ old.attachmentIssueDate9 ? old.attachmentIssueDate9 : '1999-12-31' }}"> &nbsp;
                                {% if errors.attachmentIssueDate9 %}
                                    <span class="help-block">{{ errors.attachmentIssueDate9 | first }}</span>
                                {% endif %}
                            </div>
                            <div class="input-group inline has-feedback{{ errors.attachmentExpiryDate9 ? ' has-error' : '' }}" id="attachmentExpiryDate9">
                                <label for="attachmentExpiryDate9">Expiry Date: &nbsp;</label>
                                <input type="date" id="attachmentExpiryDate9" name="attachmentExpiryDate9" value="{{ old.attachmentExpiryDate9 ? old.attachmentExpiryDate9 : '2099-12-31' }}"> &nbsp;
                                {% if errors.attachmentExpiryDate9 %}
                                    <span class="help-block">{{ errors.attachmentExpiryDate9 | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback{{ errors.interview ? ' has-error' : '' }}">
                        <label for="interview">Would you like to schedule an interview for this applicant? &nbsp;
                        <input type="checkbox" name="interview" id="interview" class="checkbox-inline" value="{{ old.interview ? old.interview : 'null' }}" onchange="interviewCheck(this)"/></label>
                        {% if errors.interview %}
                            <span class="help-block">{{ errors.interview | first }}</span>
                        {% endif %}
                    </div>
                    {# Google reCaptcha
                    <div class="g-recaptcha" data-sitekey="6Le6_xAUAAAAAIv642XjRtyLT7I0P1yiMO5GpoKN"></div> #}
                    <div class="form-group has-feedback">
                        <input type="submit" name="submit" id="submit" class="btn btn-primary" value="Save Applicant" />
                    </div>
                </form>
    </div>
{% endblock %}
