{% extends 'templates/app.twig' %}
{% block title %}New Interview{% endblock %}
{% block contents %}
<section class="content">
    <div class="raw">
        <div class="register-logo">
            <a href="{{ base_url() }}"><b>MENA</b> Assistance</a>
        </div>
        <div class="register-box-body">
            <p class="login-box-msg">Schedule an interview for {{ applicant.first_name }} {{ applicant.last_name }}</p>
            <form action="{{ path_for('HR.NewInterview') }}" method="post" autocomplete="on">
                {{ csrf.field | raw }}
                <div class="form-group has-feedback{{ errors.applicantName ? ' has-error' : '' }}">
                    <label for="applicantName">Applicant Name: </label>
                    <input name="applicantID" id="applicantID" value="{{ applicant.id }}" type="hidden"/>
                    <input
                            type="search"
                            class="form-control"
                            name="applicantName"
                            id="applicant"
                            placeholder="Enter Applicant Name..."
                            {% if applicant.first_name %}value="{{ applicant.first_name }} {{ applicant.last_name }}"{% endif %}
                            {% if applicant.first_name %}disabled{% endif %}
                            onkeyup="getApplicantName(this)"
                    />
                    <div id="name-guide" class="help-block"></div>
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    {% if errors.applicantName %}
                        <span class="help-block">{{ errors.applicantName | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group has-feedback{{ errors.position ? ' has-error' : '' }}">
                    <label for="position">Position applied for: </label>
                    <select name="position" id="position" class="form-control select2-container">
                        <option value="0">Please select a job title from the list...</option>
                        {% for title in HR.titles %}
                            <option value="{{ title.id }}" title="{{ title.description }}" {% if title.id == old.position %}selected{% endif %}>{{ title.title | e }}</option>
                        {% endfor %}
                    </select>
                    {% if errors.position %}
                        <span class="help-block">{{ errors.position | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group has-feedback{{ errors.department ? ' has-error' : '' }}">
                    <label for="department">Interviewing for which department? </label>
                    <select name="department" id="department" class="form-control select2-container" onchange="getDepartmentHead(this, 'department_head');">
                        <option value="0">Please select a department...</option>
                        {% for department in HR.departments %}
                            <option value="{{ department.id }}" {% if old.department == department.id %}selected{% endif %} >{{ department.dept_name | e }}</option>
                        {% endfor %}
                    </select>
                    {% if errors.department %}
                        <span class="help-block">{{ errors.department | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group has-feedback{{ errors.department_head ? ' has-error' : '' }}">
                    <label for="department_head">Department Head: </label>
                    <select name="department_head" id="department_head" class="form-control select2-container" >
                    </select>
                    {% if errors.department_head %}
                        <span class="help-block">{{ errors.department_head | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group has-feedback{{ errors.interviewer1 ? ' has-error' : '' }}">
                    <label for="interviewer1">Interviewer: </label>
                    <select name="interviewer1" id="interviewer1" class="form-control select2-container">
                        {% for employee in HR.employees %}
                            <option value="{{ employee.id }}" {% if employee.id == old.interviewer1 %}selected="selected"{% endif %}>{{ employee.fullName | e }}</option>
                        {% endfor %}
                    </select>
                    {% if errors.interviewer1 %}
                        <span class="help-block">{{ errors.interviewer1 | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group has-feedback{{ errors.interviewer2 ? ' has-error' : '' }}">
                    <label for="interviewer2">Interviewer: </label>
                    <select name="interviewer2" id="interviewer2" class="form-control select2-container">
                        {% for employee in HR.employees %}
                            <option value="{{ employee.id }}" {% if employee.id == old.interviewer1 %}selected="selected"{% endif %}>{{ employee.fullName | e }}</option>
                        {% endfor %}
                    </select>
                    {% if errors.interviewer2 %}
                        <span class="help-block">{{ errors.interviewer2 | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group has-feedback{{ errors.interview_date ? ' has-error' : '' }}">
                    <label for="datepicker">Interview Date: </label>
                    <div class="input-group date">
                        <input type="text" class="form-control pull-right datepicker" id="interview_date" name="interview_date" value="{{ old.interview_date ? old.interview_date : '' }}">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    </div>
                    {% if errors.interview_date %}
                        <span class="help-block">{{ errors.interview_date | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group has-feedback">
                    <input type="submit" name="submit" id="submit" class="btn btn-primary" value="Confirm Interview Schedule" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
